.FilmPoster-main-wrapper{
    margin-bottom: 40px;
}
.FilmPoster-wrapper{
    width: 90%;
    height: 90%;
}

.Poster{
    width: 90%;
}
.FilmPoster-title{
    width: 90%;
    color: #eee7e7;
    font-size: 19px;
    text-align: center;
    
}
.FilmPoster-link{
    text-decoration: none;
}
.FilmPoster-link:hover{
    border-bottom: 1px solid #eee7e7;;
}