.Navigation-wrapper{
    display: flex; 
    align-items: center; 
}
.Navigation{    
    list-style: none;    
}
.nav-li{
    display: inline;
    color: #d41665;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 1.8em;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}
.nav-li:hover{
    transition: 0.1s;
    border-bottom: 3px solid #d41665;
}